//$primary: #e19d27;

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$my-colors: (
  // Black and White
  "black": #000,
  "white": #fff,

  //Blue
  "blue": #0d6efd,
  "blue-1": #cfe2ff,
  "blue-2": #9ec5fe,
  "blue-3": #6ea8fe,
  "blue-4": #3d8bfd,
  "blue-5": #0d6efd,
  "blue-6": #0a58ca,
  "blue-7": #084298,
  "blue-8": #052c65,
  "blue-9": #031633,

  //Indigo
  "indigo": #6610f2,
  "indigo-1": #e0cffc,
  "indigo-2": #c29ffa,
  "indigo-3": #a370f7,
  "indigo-4": #8540f5,
  "indigo-5": #6610f2,
  "indigo-6": #520dc2,
  "indigo-7": #3d0a91,
  "indigo-8": #290661,
  "indigo-9": #140330,

  //Purple
  "purple": #6f42c1,
  "purple-1": #e2d9f3,
  "purple-2": #c5b3e6,
  "purple-3": #a98eda,
  "purple-4": #8c68cd,
  "purple-5": #6f42c1,
  "purple-6": #59359a,
  "purple-7": #2c1a4d,
  "purple-8": #2c1a4d,
  "purple-9": #160d27,

  //Pink
  "pink": #d63384,
  "pink-1": #f7d6e6,
  "pink-2": #efadce,
  "pink-3": #e685b5,
  "pink-4": #de5c9d,
  "pink-5": #d63384,
  "pink-6": #ab296a,
  "pink-7": #801f4f,
  "pink-8": #561435,
  "pink-9": #2b0a1a,

  //Red
  "red": #dc3545,
  "red-1": #f8d7da,
  "red-2": #f1aeb5,
  "red-3": #ea868f,
  "red-4": #e35d6a,
  "red-5": #dc3545,
  "red-6": #b02a37,
  "red-7": #842029,
  "red-8": #58151c,
  "red-9": #2c0b0e,

  //Orange
  "orange": #fd7e14,
  "orange-1": #ffe5d0,
  "orange-2": #fecba1,
  "orange-3": #feb272,
  "orange-4": #fd9843,
  "orange-5": #fd7e14,
  "orange-6": #ca6510,
  "orange-7": #984c0c,
  "orange-8": #653208,
  "orange-9": #331904,

  //Yellow
  "yellow": #ffc107,
  "yellow-1": #fff3cd,
  "yellow-2": #ffe69c,
  "yellow-3": #ffda6a,
  "yellow-4": #ffcd39,
  "yellow-5": #ffc107,
  "yellow-6": #cc9a06,
  "yellow-7": #997404,
  "yellow-8": #664d03,
  "yellow-9": #332701,

  //Green
  "green": #198754,
  "green-1": #d1e7dd,
  "green-2": #a3cfbb,
  "green-3": #75b798,
  "green-4": #479f76,
  "green-5": #198754,
  "green-6": #146c43,
  "green-7": #0f5132,
  "green-8": #0a3622,
  "green-9": #051b11,

  //Teal
  "teal": #20c997,
  "teal-1": #d2f4ea,
  "teal-2": #a6e9d5,
  "teal-3": #79dfc1,
  "teal-4": #4dd4ac,
  "teal-5": #20c997,
  "teal-6": #1aa179,
  "teal-7": #13795b,
  "teal-8": #0d503c,
  "teal-9": #06281e,

  //Cyan
  "cyan": #0dcaf0,
  "cyan-1": #cff4fc,
  "cyan-2": #9eeaf9,
  "cyan-3": #6edff6,
  "cyan-4": #3dd5f3,
  "cyan-5": #0dcaf0,
  "cyan-6": #0aa2c0,
  "cyan-7": #087990,
  "cyan-8": #055160,
  "cyan-9": #032830,

  //gray
  "gray": #adb5bd,
  "gray-1": #f8f9fa,
  "gray-2": #e9ecef,
  "gray-3": #dee2e6,
  "gray-4": #ced4da,
  "gray-5": #adb5bd,
  "gray-6": #6c757d,
  "gray-7": #495057,
  "gray-8": #343a40,
  "gray-9": #212529
);

$brand-colors: (
  "Facebook": #4267b2,
  "Instagram": #b631b7,
  "Twitter": #1da1f2,
  "YouTube": #ff0000,
  "Spotify": #1db954,
);

$project-colors: (
  "pc1": #9a031e,
  "pc2": #9dd1f1,
);

$theme-colors: map-merge($my-colors, $theme-colors);
$theme-colors: map-merge($brand-colors, $theme-colors);
$theme-colors: map-merge($project-colors, $theme-colors);

@import "../bootstrap/scss/bootstrap.scss";
